<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<script src="/jquery-3.3.1.min.js" type="text/javascript"></script>
<body style="width: 100%; height: 100%;">
	<div style="padding: 20px; background-color: #F2F2F2;">
		<div class="layui-card">
		<input type="hidden" id="userId" th:value="${session.user.id}">
	        <div class="layui-card-header">上传材料</div>
        	<div class="layui-card-body">
		        <fieldset class="layui-elem-field">
	              <legend>材料说明</legend>
	              <div class="layui-field-box">
		              <textarea th:text="${declaration.ruleContent}" class="layui-textarea" id="declareContent" style="height:300px;" readonly="readonly"></textarea><br>
		              <div class="layui-inline">
				      <label class="layui-form-label">截止日期：</label>
				      <label class="layui-form-label" th:text="${declaration.deadline}"></label>
				      <input type="hidden" class="layui-input" id="deadline" th:value="${declaration.deadline}"/>
				      </div>
			   	  </div>
	            </fieldset>
	          	<input type="hidden" class="layui-input" id="deadline" th:value="${declaration.deadline}"/>
	          	<hr>
			    <div class="layui-form-item">
				    <label class="layui-form-label">项目名称</label>
				    <div class="layui-input-inline">
				      <input type="hidden" id="projId" th:value="${project.id}">
				      <input type="text" name="projName" id="name" th:value="${project.name}" class="layui-input" readonly="readonly">
				    </div>
		       </div> 
				<div class="layui-form-item">
				  	<label class="layui-form-label">上传材料</label><br>
				  	<div class="layui-input-block">
					  	<div class="layui-upload">
						  	<button type="button" class="layui-btn layui-btn-normal" id="choose">选择文件</button>
						  	<button type="button" class="layui-btn" id="upload">开始上传</button><span id="flag" style="color:green;margin-left:30px;" hidden>已上传</span>
						  	<input type="hidden" name="declarationMaterialId" id="declarationMaterialId" th:value="${project.endMaterialId}"/>
					  	</div>
				  	</div>
			  	</div><br>
			  	<div style="text-align:center;"><button class="layui-btn" onclick="save()">保存</button></div>
            </div>
	   </div>
	        
	</div>
</body>
<script src="/layui/layui.js"></script>
<script type="text/javascript" th:inline="none">
//判断截止日期是否已过
var deadline=new Date($("#deadline").val()+' 23:59:59');
var now=new Date();
if(now<deadline){
	
}else{
	alert("对不起，结题验收已截止");
	window.parent.location.href = "/#/end/material";
}

//材料是否已上传
var declarationMaterialId=$("#declarationMaterialId").val();
if(declarationMaterialId!=null&&declarationMaterialId!=''&&declarationMaterialId!='0'){
	$("#flag").show();
}

layui.use('upload', function(){
	var upload = layui.upload;
	//选完文件后不自动上传
	  upload.render({
	    elem: '#choose'
	    ,url: '/upload/endMaterial'
	    ,auto: false
	    ,accept: 'file'
	    //,multiple: true
	    ,bindAction: '#upload'
	    ,done: function(res){
	    	if(res.code=='200'){
	    		alert("上传成功");
	   	      $("#declarationMaterialId").val(res.data.id);
	   	   		$("#flag").attr("hidden",false);
	    	}else{
	    		alert(res.msg);
	    	}
	      
	    }
	  });
});

//
function save(){
	var declarationMaterialId=$("#declarationMaterialId").val();
	var projectId=$("#projId").val();
	if(declarationMaterialId==null||declarationMaterialId==''||declarationMaterialId=='0'){
		alert("请上传材料");
		return;
	}
	$.ajax({
		type: "post",
	    dataType: "json",
	    data:{id:projectId,endMaterialId:declarationMaterialId},
	    url: "/project/updateEndMaterialId",
	    success: function (data) {
	    	if(data.code="200"){
	    		alert("保存成功");
	    		window.parent.location.href='/#/end/material';
	    	}
	    },
	    error:function(data){
	    	alert("服务器出错");
	    }
	});
}
</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="detial">查看详情</a>
<a class="layui-btn layui-btn-xs" lay-event="upload" >上传中期检查材料</a>
</script>
</html>