<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<script src="/jquery-3.3.1.min.js" type="text/javascript"></script>
<body style="width: 100%; height: 100%;">
	<div style="padding: 20px; background-color: #F2F2F2;">
		<div class="layui-card">
	        <div class="layui-card-header">专家分配</div>
	        <div class="layui-card-body">

	          	<table class="layui-hide" id="test" lay-filter="test"></table>
	        </div>
	      </div>
	</div>
</body>
<script src="/layui/layui.js"></script>
<script type="text/javascript" th:inline="none">
layui.use('table', function(){
	  var table = layui.table;
	  
	  table.render({
		    elem: '#test'
		    ,url:'/declare/getProjectsByStatus?status=2'
		    ,cols: [[
		      {type:'checkbox'}
		      ,{field:'id',hide:true}
		      ,{field:'name', title: '项目名称',align:'center',width:250}
		      ,{field:'directorUserName', title: '项目负责人',align:'center',width:250}
		      ,{field:'statusName', title: '项目状态',align:'center',width:250}
		      ,{field:'remarks', title: '分配',align:'center',width:200,toolbar: '#barDemo'}    
		    ]]
		    ,page: true
		    ,response: {
		        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
		      }
		      ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": 10, //解析数据长度
		          "data": res.data //解析数据列表
		        };
		      }
		  });
	  
	  table.on('tool(test)',function(object){
		  var project=object.data;
		  if(object.event=='check'){//分配专家
			  var expert;
			  $.ajax({
				    type: "post",
				    dataType: "json",
				    url: "/user/getUsersByRole?roleId=3",
				    success: function (data) {
				    	expert=data.data;
				    	show(expert,project);
				    }
		  		});
		  }
	  });
	});
	
function show(data,project){
	var content='<div class="layui-form-item">'
	  	+'<label class="layui-form-label">选择专家</label>'
	  	+'<div class="layui-input-block">'
	  	+'<select name="exportId" id="expertId" style="margin-top:10px;width:80px;" lay-filter="aihao">';
	  	
	  	for(var i in data){
	  		content+='<option value="'+data[i].id+'" >'+data[i].realName+'</option>';
	  	}
	  	content+='</select></div></div>';
	    content+='<div style="text-align:center;"><button class="layui-btn" onclick="allot('+project.id+')">确认分配</button></div>';
	    	
	  
	  layer.open({
		  type: 1,
		  title:'专家分配',
		  area: ['330px', '200px'], //宽高
		  content: content
		});
}

function allot(projId){
	var expertId=$("#expertId").val();
	$.ajax({
	    type: "post",
	    dataType: "json",
	    data:{projectId:projId,expertId:expertId},
	    url: "/declare/allot",
	    success: function (data) {
	    	if(data.code=="200"){
	    		alert("分配成功");
	    		window.location.reload();
	    	}
	    },
	    error:function(data){
	    	alert("操作失败");
	    }
		})
}
</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="check">分配</a>
</script>

</html>