<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<body style="width: 100%; height: 100%;">
	<div style="padding: 20px; background-color: #F2F2F2;">
		<div class="layui-card">
	        <div class="layui-card-header">专家评审</div>
	        <div class="layui-card-body">
				<input type="hidden" id="expertId" th:value="${session.user.id}">
	          	<table class="layui-hide" id="test" lay-filter="test"></table>
	        </div>
	      </div>
	</div>
</body>
<script src="/layui/layui.js"></script>
<script type="text/javascript" th:inline="none">
layui.use('table', function(){
	  var table = layui.table;
	  var expertId=$("#expertId").val();
	  //alert(expertId);
	  table.render({
		    elem: '#test'
		    ,url:'/declare/getProjectsByExpertIdAndStatus?status=3&expertId='+expertId
		    ,cols: [[
		      {type:'checkbox'}
		      ,{field:'id',hide:true}
		      ,{field:'declarationMaterialId',hide:true}
		      ,{field:'name', title: '项目名称',align:'center',width:250}
		      ,{field:'levelName', title: '项目等级',align:'center',width:100}
		      ,{field:'field', title: '所属专业或领域',align:'center',width:200}
		      ,{field:'directorUserName', title: '项目负责人',align:'center',width:100}
		      ,{field:'directorTel', title: '负责人电话',align:'center',width:195}
		      ,{field:'statusName', title: '项目状态',align:'center',width:100}
		      ,{field:'remarks', title: '操作',align:'center',width:200,toolbar: '#barDemo'}      
		    ]]
		    ,page: true
		    ,response: {
		        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
		      }
		      ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": 10, //解析数据长度
		          "data": res.data //解析数据列表
		        };
		      }
		  });
	  
	//监听工具条
	  table.on('tool(test)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'download'){
	      layer.msg('正在下载');
	      /* $.ajax({
	    	    type: "post",
	    	    dataType: "json",
	    	    data:{id:data.declarationMaterialId},
	    	    url: "/download",
	    	    success: function (data) {
	    	    	
	    	    },
	    	    error: function (data) {
	    	        alert("服务器出错！");
	    	    }
	    	}); */
	      window.location.href="/download?id="+data.declarationMaterialId;
	    } else if(obj.event === 'detail'){
	      alert("查看");
	    } else if(obj.event=='review'){
	    	var content='';
			  content+='<br><div class="layui-form-item">'
				  	+'<label class="layui-form-label">项目名称</label>'
				  	+'<div class="layui-input-inline">'
				  	+'<input type="text" autocomplete="off" class="layui-input" readonly="readonly" value="'+data.name+'">'+'</div></div>'
				  	+'<div class="layui-form-item">'
				  	+'<label class="layui-form-label">评分</label>'
				  	+'<div class="layui-input-inline">'
				  	+'<input id="pf" type="text" autocomplete="off" class="layui-input" oninput = "value=value.replace(/[^\\d]/g,\'\')">'+'</div></div>'
				  	+'<div class="layui-form-item">'
				  	+'<label class="layui-form-label">评语</label>'
				  	+'<div class="layui-input-inline">'
				  	+'<textarea id="py" placeholder="请输入评语" class="layui-textarea"></textarea>'+'</div></div>';
		  	content+='<div style="text-align:center;"><button class="layui-btn" onclick="save('+data.id+')">保存</button></div>';
			
			  layer.open({
				  type: 1,
				  title:'评审',
				  area: ['460px', '360px'], //宽高
				  content: content
				});
	    }
	  });

	});
function save(projId){
	var pf=$("#pf").val();
	var py=$("#py").val();
	$.ajax({
		type: "post",
	    dataType: "json",
	    data:{projectId:projId,score:pf,comment:py},
	    url: "/declare/saveCommentAndScore",
	    success: function (data) {
	    	if(data.code="200"){
	    		alert("评审成功");
	    		window.location.reload();
	    	}
	    },
	    error:function(data){
	    	alert("服务器出错");
	    }
	});
	
}
</script>
 <script src="/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="download">下载申报书</a>
 <a class="layui-btn layui-btn-xs" lay-event="review">评审</a>
</script>



</html>